.bg-img{
background-image: url(https://pbs.twimg.com/media/FsOrocNX0AIdU-j.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
margin-top: 0px;
}
.hoverr a:hover{
color: black;
}
.zzz{
    width: 25cm;
    height: 33vh;
    position: absolute;
    z-index: 0;
    
    background-color:rgb(255, 255, 255);
    transition: 0.5s ;}
    .zzz a:hover{
    background-color: #f2ce04;
    border-radius: 0.25rem;}

.h420{

height: 420vh;
}
.padd-left{

padding-left: 20px;}
.h30{
height: 30vh;}
.h40{
height: 40vh;
}
.h90{

height: 90%;}
.cart{
width: 3cm;
height: 180px;

}
.imgg{
background-image: url(https://static.hdrezka.ac/templates/hdrezka/images/slava.jpg);
background-size: 100%;
}
.img-ukrain{
width: 480px;
height: 150px;


}



.main-film{
width: 60%;
height: 100vh;
overflow-y:scroll;

}
.main-film-name{
    width: 40%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    overflow-y:scroll;
    }
.cart-film{
width: 170px;
height: 220px;
border: 1px solid #ccc;
}


.text-color{
background-color:#858484;
}
.cart-carusel{
    overflow-x:scroll;
}
.inp-cart{
width: 5cm;
height: 7cm;
position: absolute;
z-index: 0;
background-color: white;
margin-top: 30px;
border: none;
border-radius: 0.25rem;
overflow-y:scroll;
}
.bgg{
    background-color: rgba(27, 27, 27, 0.89);}
    .email{
        width: 8cm;
        height: 1cm;
        background-color: rgba(43, 40, 40, 0.582);
        border-bottom:1px solid #ccc;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0.25rem;}
        .btnn{
        width: 2cm;
        height: 1cm;
        border:  none;
        border-radius: 0.25rem;}

        .login{
            width: 9cm;
            height: 10cm;
            margin-top: 140px;
            border-left: 4px solid red;
            border-right: 4px solid rgb(45, 178, 255);
            border-bottom: 4px solid rgb(45, 178, 255) ;
            border-top:  4px solid red;
            background-color: rgb(22, 22, 22);}